* {
  box-sizing: -moz-border-box;
  box-sizing: -webkit-border-box;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
body {
  background: #f8f8f8 url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAIklEQVQIW2NkQALXLl/7zwjjgzhaulqMYAEYB8RmROaABAD/ew+Dsak1RQAAAABJRU5ErkJggg==");
  color: #323232;
  font: 14px 'Open Sans', sans-serif;
  line-height: 18px;
  margin: 60px 0 0;
}
a {
  color: #08c;
  text-decoration: none;
  transition: all 0.3s ease;
  word-break: break-all;
}
a:hover {
  color: #323232;
  text-decoration: none;
}
.row {
  *zoom: 1;
}
.row:before,
.row:after {
  display: table;
  content: "";
  line-height: 0;
}
.row:after {
  clear: both;
}
.container {
  width: 96%;
  margin: 0 auto;
  *zoom: 1;
}
.container:before,
.container:after {
  display: table;
  content: "";
  line-height: 0;
}
.container:after {
  clear: both;
}
.navbar {
  background: #333;
  height: 45px;
  position: fixed;
  top: 0;
  z-index: 10;
  padding: 10px;
  width: 100%;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.1), 0 1px 0 0 rgba(0,0,0,0.1);
  -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.1), 0 1px 0 0 rgba(0,0,0,0.1);
  -moz-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.1), 0 1px 0 0 rgba(0,0,0,0.1);
}
.hide {
  display: none;
}
.tweet {
  -moz-box-shadow: 0 0 10px rgba(0,0,0,0.05);
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.05);
  background: #fff;
  border: 1px solid #dfdfdf;
  box-shadow: 0 0 10px rgba(0,0,0,0.05);
  float: left;
  font-size: 14px;
  line-height: 20px;
  margin: 10px;
  width: 280px;
}
.tweet .stream-item-header {
  background: #f5f5f5;
  position: relative;
}
.tweet .stream-item-header .avatar {
  float: left;
  width: 60px;
  height: 60px;
  margin-right: 10px;
}
.tweet .stream-item-header .triangle {
  background: url("../img/img-icon.png") 0 -58px;
  width: 21px;
  height: 10px;
  position: absolute;
  bottom: -5px;
  left: 20px;
}
.tweet .stream-item-header .fullname {
  float: left;
  font-size: 16px;
  overflow: hidden;
  margin-top: 10px;
  width: 160px;
}
.tweet .stream-item-header .username {
  color: #323232;
  display: block;
  float: left;
  font-size: 14px;
}
.tweet .stream-item-header .time {
  color: #808080;
  float: right;
  font-size: 14px;
  padding: 10px;
}
.tweet .tweet-text {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  margin: 15px;
}
.tweet .embed {
  color: #808080;
  font-size: 11px;
  line-height: 14px;
  width: 280px;
}
.tweet .embed a {
  font-size: 26px;
  text-decoration: none;
}
.tweet .embed a:hover {
  color: #808080;
}
.tweet .embed .description {
  font-family: 'Arial', sans-serif;
  margin: 10px 15px 15px;
}
.tweet .embed .description a {
  font-size: 11px;
}
.tweet .embed .provider {
  display: inline;
  font-weight: bold;
}
.tweet .embed .thumbcontainer {
  background: #c4c5c1 url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAIklEQVQIW2NkQALXLl/7zwjjgzhaulqMYAEYB8RmROaABAD/ew+Dsak1RQAAAABJRU5ErkJggg==");
}
.tweet .embed .thumbcontainer iframe {
  height: 100%;
  width: 100%;
}
.tweet .embed .thumbcontainer img {
  display: block;
  margin: 0 auto;
  overflow: hidden;
  max-width: 280px;
}
.tweet .embed .highlight {
  border-top: 1px solid #e4e4e4;
  display: none;
  margin: 15px;
  padding-top: 10px;
}
.tweet .embed .thumb {
  display: block;
  margin: 0 auto;
  overflow: hidden;
}
.tweet .stream-item-footer {
  background: #f5f5f5;
  position: relative;
}
.tweet .stream-item-footer .tweet-actions {
  position: relative;
}
.tweet .stream-item-footer .tweet-actions .submenu {
/*display none*/
  left: 95px;
  position: absolute;
  top: -62px;
  width: 250px;
  border: 1px solid #f5f5f5;
}
.tweet .stream-item-footer .tweet-actions .submenu a {
  display: block;
  background: #f5f5f5;
}
.tweet .stream-item-footer .tweet-actions a {
  color: #808080;
  display: inline-block;
  font-size: 11px;
  text-align: center;
  width: 32.8%;
  padding: 5px 0;
}
.tweet .stream-item-footer .tweet-actions a span {
  display: inline-block;
  margin-right: 5px;
}
.tweet .stream-item-footer .tweet-actions a:hover {
  color: #08c;
  background: #e0e0e0;
}
.tweet .stream-item-footer .tweet-actions a.reply span {
  background: url("../img/img-icon.png") 0 -20px no-repeat;
  height: 12px;
  width: 17px;
}
.tweet .stream-item-footer .tweet-actions a.retweet span {
  background: url("../img/img-icon.png") 0 -33px no-repeat;
  height: 11px;
  width: 20px;
}
.tweet .stream-item-footer .tweet-actions a.favourite span {
  background: url("../img/img-icon.png") 0 -44px no-repeat;
  height: 14px;
  width: 14px;
}
