
body {
  margin: 0;
  line-height: 18px;
  color: #333333;
  font: 12px  Arial, sans-serif;
  background: #DCDCDC url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAIklEQVQIW2NkQALXLl/7zwjjgzhaulqMYAEYB8RmROaABAD/ew+Dsak1RQAAAABJRU5ErkJggg==) repeat;

  /*
  background: url(../img/bg.png);
  */
}

#main-container {
  margin-top: 20px;  
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  padding: 2px;
  clear: both;

}

/****** Tweet item ****/

.tweet-item {
  font-size: 14px;
  width: 280px;
  margin: 10px;
  margin-bottom: 10px;
  line-height: 20px;
  float: left;
 
  background: #fff;
   /*
  border-top: #2FA9E0 3px solid;
background: #F9F9F9;
  -webkit-box-shadow: 0 8px 6px -6px #d4d4d4;
     -moz-box-shadow: 0 8px 6px -6px #d4d4d4;
          box-shadow: 0 8px 6px -6px #d4d4d4;
          */

border: 1px solid #DFDFDF;
    -moz-box-shadow: 0 0 10px rgba(0,0,0,.05);
-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .05);
box-shadow: 0 0 10px rgba(0, 0, 0, .05);

}

.tweet-item .stream-item-header {
  margin: 15px;
  margin-bottom: 4px;
  font-family: 'Open Sans', sans-serif;   
  font-weight: bold;
}
.tweet-item .stream-item-header small.time {
  float: right;
  color: #999;
  font-size: 12px;
}

.tweet-item .stream-item-header span.username {
  color: #999;
  font-size: 14px;
  display: block;
  padding-bottom: 5px;
  margin-left: 57px;
  border-bottom: 1px solid #e4e4e4;
}


.tweet-item .stream-item-header a.account-group  {
  color: #333;
  text-decoration: none;
  background: white;
    -webkit-transition: background 1s;
}

.tweet-item .stream-item-header a.account-group:hover {
  color: #03ACF1;
  text-decoration: none;
  background: blue;
    -webkit-transition: background 1s;
}

.tweet-item .stream-item-header a:hover strong .fullname {
  font-size: 16px;
  color: #03ACF1;
  text-decoration: underline;
}


.tweet-item .stream-item-header a.account-group img.avatar {
  float: left;
  margin-right: 10px;

  border-radius: 50%;
  /*
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
*/
}

.tweet-item div.stream-item-header a.username{
  text-decoration: none;
  color: #999;
 
}
.tweet-item p.tweet-text {
  margin: 15px 15px 15px 15px;
  font-family: 'Open Sans', sans-serif;   
  font-size: 14px;
  line-height: 1.5em;
  display: block;

}



.tweet-item span.number {
  display: none; /* desactivar para mostrar numeros */
  color: #f8f8f8;
  font-weight: bold;
  font-size: 50px;
  position: relative;
  right: 0px;
  bottom: 10px;
  float: right;
 
}
.tweet-item ul.tweet-actions {
  font-size: 12px;
  padding: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  float: left;
}

.tweet-item ul.tweet-actions li {
  text-decoration: none;
  display: inline;
  color: #999;
  margin-right: 10px;
}


.tweet-item img.image-preview {
  border: none;
  padding-bottom: 10px;
}


/**** Transitions ****/

.transitions-enabled.masonry,
.transitions-enabled.masonry .masonry-brick {
  -webkit-transition-duration: 0.7s;
     -moz-transition-duration: 0.7s;
       -o-transition-duration: 0.7s;
          transition-duration: 0.7s;
}

.transitions-enabled.masonry {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.transitions-enabled.masonry  .masonry-brick {
  -webkit-transition-property: left, right, top;
     -moz-transition-property: left, right, top;
       -o-transition-property: left, right, top;
          transition-property: left, right, top;
}


/* disable transitions on container */
.transitions-enabled.infinite-scroll.masonry {
  -webkit-transition-property: none;
     -moz-transition-property: none;
       -o-transition-property: none;
          transition-property: none;
}



/* Infinite Scroll loader */
#infscr-loading { 
  text-align: center;
  z-index: 100;
  position: fixed;
  left: 45%;
  bottom: 40px;
  width: 200px;
  padding: 10px;
  background: #000; 
  opacity: 0.8;
  color: #FFF;
  -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
          border-radius: 10px;
}

/* embedly styles **/
     
     

      div.embed {
        font-family: Tahoma;
        font-size: 11px;
       /* background: #f7f7f7;
        border: #e2e2e2 1px solid;
        cursor: pointer;*/
        color: grey;
        width: 280px;
        line-height: 1.28;
        margin-top: 10px;
      }

      div.embed a{
          font-family: 'Oswald', sans-serif;    
          font-size: 26px;
          color: #000000;       
          text-decoration: none;
        
      }

      div.embed a:hover{
        color: #808080;

      }

      div.embed div.description span.provider{
        display: inline;
        font-weight: bold;
      }

      div.embed div.description {
        /*border-top: 1px solid #e4e4e4;*/
        margin: 15px;       
      }

      div.embed p.highlight{
        display: none;
        border-top: 1px solid #e4e4e4;
        margin: 15px;
        padding-top: 10px;
      }

      div.embed img {
        margin: 0 auto;
        display: block;
        overflow: hidden;
      }

      div.embed img.thumb{
        display: block;
        margin: 0 auto;
        overflow: hidden;
    
      }

      div.embed div.thumbcontainer {
        
        background: #C4C5C1 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAIklEQVQIW2NkQALXLl/7zwjjgzhaulqMYAEYB8RmROaABAD/ew+Dsak1RQAAAABJRU5ErkJggg==) repeat;
      }


