//general
boxWidth = 280px
containerWidth = 1200px

// colors
mainColor = #08c
darkGrey = #323232
grey = #808080
lightGrey = #f5f5f5
almostWhite = #f8f8f8

// font
family1 = 'PT Sans', sans-serif
family2 = 'Arial', sans-serif
family3 = 'Open Sans', sans-serif
bigFont = 16px
regularFont = 14px
smallFont = 11px

//icons
sprite = '../img/img-icon.png'
icoReply = -17px -20px
icoReplyHover = 0 -20px
icoRetweet = -20px -33px
icoRetweetHover = 0 -33px
icoFavourite = -14px -44px
icoFavouriteHover = 0 -44px
icoTriangle = 0 -58px

*
	box-sizing -moz-border-box
	box-sizing -webkit-border-box
	box-sizing border-box

body
	background almostWhite url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAIklEQVQIW2NkQALXLl/7zwjjgzhaulqMYAEYB8RmROaABAD/ew+Dsak1RQAAAABJRU5ErkJggg==")
	color darkGrey
	font regularFont family1
	line-height 18px
	margin 60px 0 0

a
	color mainColor
	text-decoration none
	transition all 0.3s ease
	&:hover
		color darkGrey
		text-decoration none
.row
	*zoom 1
	&:before,&:after
		display table
		content ""
		line-height 0
	&:after
		clear both
.container
	width containerWidth
	margin 0 auto
	*zoom 1
	&:before,&:after
		display table
		content ""
		line-height 0
	&:after
		clear both
.navbar
	background #333
	height 45px
	position fixed
	top 0
	z-index 10
	padding 10px
	width 100%
	box-shadow 0 2px 2px 0 rgba(0,0,0,0.1),0 1px 0 0 rgba(0,0,0,0.1)
	-webkit-box-shadow 0 2px 2px 0 rgba(0,0,0,0.1),0 1px 0 0 rgba(0,0,0,0.1)
	-moz-box-shadow 0 2px 2px 0 rgba(0,0,0,0.1),0 1px 0 0 rgba(0,0,0,0.1)
.hide
	display none
.tweet
	-moz-box-shadow 0 0 10px rgba(0,0,0,.05)
	-webkit-box-shadow 0 0 10px rgba(0, 0, 0, .05)
	background #fff
	border 1px solid #DFDFDF
	box-shadow 0 0 10px rgba(0, 0, 0, .05)
	float left
	font-size regularFont
	line-height 20px
	margin 10px
	width boxWidth
	
	.stream-item-header
		background lightGrey
		position relative
		.avatar
			float left
			width 60px
			height 60px
			margin-right 10px
		.triangle
			background url(sprite) icoTriangle
			width 21px
			height 10px
			position absolute
			bottom -5px
			left 20px
		.fullname
			float left
			font-size bigFont
			padding-top 10px
		.username
			color darkGrey
			display block
			float left
			font-size regularFont

		.time
			color grey
			float right
			font-size regularFont
			padding 10px
			

	.tweet-text
		
		font-family family1
		font-size regularFont
		margin 15px

	.embed
		color grey
		font-size smallFont
		line-height 14px
		a
			font-size 26px
			text-decoration none
			&:hover
				color #808080
		.description
			font-family family2
			margin 10px 15px 15px

		.provider
			display inline
			font-weight bold
		.thumbcontainer
			background #C4C5C1 url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAIklEQVQIW2NkQALXLl/7zwjjgzhaulqMYAEYB8RmROaABAD/ew+Dsak1RQAAAABJRU5ErkJggg==")
			img
				display block
				margin 0 auto
				overflow hidden
				max-width 278px
		.highlight
			border-top 1px solid #e4e4e4
			display none
			margin 15px
			padding-top 10px

		.thumb
			display block
			margin 0 auto
			overflow hidden
	.stream-item-footer
		background lightGrey
		position relative
		.tweet-actions
			position relative
			.submenu
				/*display none*/
				left 95px
				position absolute
				top -62px
				width 250px
				border 1px solid lightGrey
				a
					display block
					background lightGrey
			a
				color grey
				display inline-block
				font-size smallFont
				text-align center
				width 32.8%
				padding 5px 0

				span
					display inline-block
					margin-right 5px
				
				&:hover
					color mainColor
					background #e0e0e0
				&.reply
					span
						background url(sprite) icoReplyHover no-repeat
						height 12px
						width 17px
				&.retweet
					span
						background url(sprite) icoRetweetHover no-repeat
						height 11px
						width 20px


				&.favourite
					span
						background url(sprite) icoFavouriteHover no-repeat
						height 14px
						width 14px
