!!! 5
html(lang='en')
	head
		meta(charset='utf-8')
		title Tweetile
		meta(name='description', content='A different way to display and experience your Twitter timeline!')
		meta(name='author', content='Ana Reyna @anareyna')
		
		link(href='css/superslides.css', rel='stylesheet')
		link(href='css/custom.css', rel='stylesheet')
		link(href='css/bootstrap.css', rel='stylesheet')
		link(href='http://fonts.googleapis.com/css?family=Oswald:300', rel='stylesheet', type='text/css')
		link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,700', rel='stylesheet', type='text/css')
		//- style(type='text/css')
		//- 	body {
		//- 	padding-top: 40px;
		//- 	padding-bottom: 40px;
		//- 	}
		
		link(rel='shortcut icon', href='img/favicon.ico')
	body
		.navbar.navbar-fixed-top.navbar-inverse
			.navbar-inner
				.container
					a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
						span.icon-bar
						span.icon-bar
						span.icon-bar
					a.brand(href='../')
						img(src='img/logo-white.png')
					.nav-collapse
						ul.nav.pull-right
							a.btn.btn-small.btn-primary(href='redirect.php') Sign in with Twitter
					
		#main-container.container
			.tweet-item
				.stream-item-header
					small.time
					a.account-group(href='#')
						img.avatar(src='http://a0.twimg.com/profile_images/3267781423/b35238548bd6dccd5176b8b751c0123d_normal.jpeg', alt='@AhoraYaLoSabes', width='48px')
						strong.fullname
							a(href='http://twitter.com/AhoraYaLoSabes', title='@AhoraYaLoSabes') @AhoraYaLoSabes
						span
						span.username @AhoraYaLoSabes
				p.tweet-text
					| Consulta el ojo de tú enemigo, porque es el primero que ve tus defectos. Antistenes
				.stream-item-footer
					span.number 1
			.tweet-item
				.stream-item-header
					small.time
					a.account-group(href='#')
						img.avatar(src='http://a0.twimg.com/profile_images/1700796190/Picture_24_normal.png', alt='TIME.com', width='48px')
						strong.fullname
							a(href='http://twitter.com/TIME', title='TIME.com') TIME.com
						span
						span.username @TIME
				p.tweet-text
					| Google opens up about Glass privacy — oh, and zombification |
					a(href='http://t.co/a8xwKcfnZM', target='_blank') http://t.co/a8xwKcfnZM
					| (via
					a.username(href='http://twitter.com/Techland)', target='_blank') @Techland)
				.stream-item-footer
					span.number 1
			.tweet-item
				.stream-item-header
					small.time
					a.account-group(href='#')
						img.avatar(src='http://a0.twimg.com/profile_images/1574591465/THE_new-twitter-avatar-working_normal.jpg', alt='The Next Web', width='48px')
						strong.fullname
							a(href='http://twitter.com/TheNextWeb', title='The Next Web') The Next Web
						span
						span.username @TheNextWeb
				p.tweet-text
					| Rivals: The long burning turf war between Google and Microsoft
					a(href='http://t.co/RkkOd7h01W', target='_blank') http://t.co/RkkOd7h01W
					| by
					a.username(href='http://twitter.com/alex', target='_blank') @alex
				.stream-item-footer
					span.number 1
			.tweet-item
				.stream-item-header
					small.time
					a.account-group(href='#')
						img.avatar(src='http://a0.twimg.com/profile_images/2176846885/-5-1_normal.jpeg', alt='TechCrunch', width='48px')
						strong.fullname
							a(href='http://twitter.com/TechCrunch', title='TechCrunch') TechCrunch
						span
						span.username @TechCrunch
				p.tweet-text
					| Amidst Tumblr Acquisition Rumors, Yahoo To Hold Product Event With Marissa Mayer On Monday
					a(href='http://t.co/NOpW3Yvxsn', target='_blank') http://t.co/NOpW3Yvxsn
					| by
					a.username(href='http://twitter.com/ripemp', target='_blank') @ripemp
				.stream-item-footer
					span.number 1
			.tweet-item
				.stream-item-header
					small.time
					a.account-group(href='#')
						img.avatar(src='http://a0.twimg.com/profile_images/1727740682/JacobCass-Profile_normal.png', alt='Jacob Cass', width='48px')
						strong.fullname
							a(href='http://twitter.com/justcreative', title='Jacob Cass') Jacob Cass
						span
						span.username @justcreative
				p.tweet-text
					| Ha! Re the aus dollar: RT
					a.username(href='http://twitter.com/zilverback', target='_blank') @zilverback
					| :
					a.username(href='http://twitter.com/justcreative', target='_blank') @justcreative
					| doesn't matter b'cuz once yer married, it's all gone!
				.stream-item-footer
					span.number 1
			.tweet-item
				.stream-item-header
					small.time
					a.account-group(href='#')
						img.avatar(src='http://a0.twimg.com/profile_images/2015016150/petecashmoreavatar_normal.png', alt='Pete Cashmore', width='48px')
						strong.fullname
							a(href='http://twitter.com/mashable', title='Pete Cashmore') Pete Cashmore
						span
						span.username @mashable
				p.tweet-text
					| Watch Steve Aoki's New Music Video Featuring Ray Kurzweil [EXCLUSIVE]
					a(href='http://t.co/6KMS0B1sFc', target='_blank') http://t.co/6KMS0B1sFc
				.stream-item-footer
					span.number 1
			.tweet-item
				.stream-item-header
					small.time
					a.account-group(href='#')
						img.avatar(src='http://a0.twimg.com/profile_images/3442296058/ee5e1c48c74e0deb82e95d72c2994738_normal.png', alt='Huffington Post', width='48px')
						strong.fullname
							a(href='http://twitter.com/HuffingtonPost', title='Huffington Post') Huffington Post
						span
						span.username @HuffingtonPost
				p.tweet-text
					| RT
					a.username(href='http://twitter.com/HuffPostLive', target='_blank') @HuffPostLive
					| : Harry Hamlin talks 'Mad Men' and Hollywood
					a(href='http://t.co/inSkDMosuv', target='_blank') http://t.co/inSkDMosuv
				.stream-item-footer
					span.number 1
			.tweet-item
				.stream-item-header
					small.time
					a.account-group(href='#')
						img.avatar(src='http://a0.twimg.com/profile_images/2140889304/300x300-avatar_normal.jpg', alt='Peru.com Perú', width='48px')
						strong.fullname
							a(href='http://twitter.com/perucom', title='Peru.com Perú') Peru.com Perú
						span
						span.username @perucom
				p.tweet-text
					| Copa del Rey: Real Madrid vs. Atlético de Madrid por el título
					a(href='http://t.co/gXU4grKRZK', target='_blank') http://t.co/gXU4grKRZK
				.stream-item-footer
					span.number 1
			.tweet-item
				.stream-item-header
					small.time
					a.account-group(href='#')
						img.avatar(src='http://a0.twimg.com/profile_images/3499745927/177b7d110f299bf4933f4febcde2bce7_normal.jpeg', alt='Chris Hadfield', width='48px')
						strong.fullname
							a(href='http://twitter.com/Cmdr_Hadfield', title='Chris Hadfield') Chris Hadfield
						span
						span.username @Cmdr_Hadfield
				p.tweet-text
					| RT
					a.username(href='http://twitter.com/ISS_Research', target='_blank') @ISS_Research
					|:
					a.username(href='http://twitter.com/Cmdr_Hadfield"s', target='_blank') @Cmdr_Hadfield's
					|picture
					a(href='http://t.co/7H7qxuBm4m', target='_blank') http://t.co/7H7qxuBm4m
					|is from the ESA
					a.username(href='http://twitter.com/ISS_research', target='_blank') @ISS_research
					|investigation called Neurospat:
					a(href='http://t.c…', target='_blank') http://t.c…
				.stream-item-footer
					span.number 1
			.tweet-item
				.stream-item-header
					small.time
					a.account-group(href='#')
						img.avatar(src='http://a0.twimg.com/profile_images/2325827473/picswitch-switch-pekpongpaet-pget2p_normal.png', alt='Pek Pongpaet', width='48px')
						strong.fullname
							a(href='http://twitter.com/pekpongpaet', title='Pek Pongpaet') Pek Pongpaet
						span
						span.username @pekpongpaet
				p.tweet-text
					a.ht(href='http://search.twitter.com/search?q=%23quotestagram', target='_blank') #quotestagram
					a.ht(href='http://search.twitter.com/search?q=%23imagination', target='_blank') #imagination
					a.ht(href='http://search.twitter.com/search?q=%23quotes', target='_blank') #quotes
					a(href='http://t.co/nNSp733TWb', target='_blank') http://t.co/nNSp733TWb
				.stream-item-footer
					span.number 1
			.tweet-item
				.stream-item-header
					small.time
					a.account-group(href='#')
						img.avatar(src='http://a0.twimg.com/profile_images/2818082161/e5969002b5f42400c619b738873ce804_normal.jpeg', alt='Zachary Quinto', width='48px')
						strong.fullname
							a(href='http://twitter.com/ZacharyQuinto', title='Zachary Quinto') Zachary Quinto
						span
						span.username @ZacharyQuinto
				p.tweet-text
					| skunk thinks he cannes go with me.
					a(href='http://t.co/Aiysq4N5Ar', target='_blank') http://t.co/Aiysq4N5Ar
				.stream-item-footer
					span.number 1
			.tweet-item
				.stream-item-header
					small.time
					a.account-group(href='#')
						img.avatar(src='http://a0.twimg.com/profile_images/2140889304/300x300-avatar_normal.jpg', alt='Peru.com Perú', width='48px')
						strong.fullname
							a(href='http://twitter.com/perucom', title='Peru.com Perú') Peru.com Perú
						span
						span.username @perucom
				p.tweet-text
					| Ángel Valdivia y albañil recluidos en la carceleta del Palacio de Justicia por crimen de Maryorie Keiko
					a(href='http://t.co/NOPLZYgBR0', target='_blank') http://t.co/NOPLZYgBR0
				.stream-item-footer
					span.number 1
			.tweet-item
				.stream-item-header
					small.time
					a.account-group(href='#')
						img.avatar(src='http://a0.twimg.com/profile_images/2409263463/5g2vkay1y34xj17ke81c_normal.jpeg', alt='Engadget', width='48px')
						strong.fullname
							a(href='http://twitter.com/engadget', title='Engadget') Engadget
						span
						span.username @engadget
				p.tweet-text
					| Editor's Letter: When it rains, it pours -
					a(href='http://t.co/ixKNgSh9RF', target='_blank') http://t.co/ixKNgSh9RF
				.stream-item-footer
					span.number 1
			.tweet-item
				.stream-item-header
					small.time
					a.account-group(href='#')
						img.avatar(src='http://a0.twimg.com/profile_images/2409263463/5g2vkay1y34xj17ke81c_normal.jpeg', alt='Engadget', width='48px')
						strong.fullname
							a(href='http://twitter.com/engadget', title='Engadget') Engadget
						span
						span.username @engadget
				p.tweet-text
					| Engadget Podcast 344: Google I/O edition - 05.17.13 -
					a(href='http://t.co/Y4ix9tvG11', target='_blank') http://t.co/Y4ix9tvG11
				.stream-item-footer
					span.number 1
			.tweet-item
				.stream-item-header
					small.time
					a.account-group(href='#')
						img.avatar(src='http://a0.twimg.com/profile_images/321377338/ian4_normal.jpg', alt='ian somerhalder', width='48px')
						strong.fullname
							a(href='http://twitter.com/iansomerhalder', title='ian somerhalder') ian somerhalder
						span
						span.username @iansomerhalder
				p.tweet-text
					|RT
					a.username(href='http://twitter.com/NRDC', target='_blank') @NRDC
					|:Dusky
					a.ht(href='http://search.twitter.com/search?q=%23Shark', target='_blank') #Shark
					|One Step Closer to Protection under the
					a.ht(href='http://search.twitter.com/search?q=%23Endangered', target='_blank') #Endangered
					|Species Act
					a(href='http://t.co/EVdiOQuEpK', target='_blank') http://t.co/EVdiOQuEpK
				.stream-item-footer
					span.number 1
			.tweet-item
				.stream-item-header
					small.time
					a.account-group(href='#')
						img.avatar(src='http://a0.twimg.com/profile_images/3448190395/13ba8a763f6e612918d3248ac0a13fa4_normal.png', alt='Smashing Magazine', width='48px')
						strong.fullname
							a(href='http://twitter.com/smashingmag', title='Smashing Magazine') Smashing Magazine
						span
						span.username @smashingmag
				p.tweet-text
					| Countable.js: a JavaScript function to add live paragraph-, word- and character-counting to an HTML element -
					a(href='http://t.co/ExE3QySU4P', target='_blank') http://t.co/ExE3QySU4P
				.stream-item-footer
					span.number 1
			.tweet-item
				.stream-item-header
					small.time
					a.account-group(href='#')
						img.avatar(src='http://a0.twimg.com/profile_images/1877090203/logo_imagina_2_normal.jpg', alt='Imagina.pe', width='48px')
						strong.fullname
							a(href='http://twitter.com/imaginape', title='Imagina.pe') Imagina.pe
						span
						span.username @imaginape
				p.tweet-text
					| Celebramos el
					a.ht(href='http://search.twitter.com/search?q=%23DiaMundialDelReciclaje', target='_blank') #DiaMundialDelReciclaje
					| compartiendo la historia de
					a.username(href='http://twitter.com/L_O_O_P', target='_blank') @L_O_O_P
					| y su valiosa labor
					a(href='http://t.co/wWU1R9nNEs', target='_blank') http://t.co/wWU1R9nNEs
				.stream-item-footer
					span.number 1
			.tweet-item
				.stream-item-header
					small.time
					a.account-group(href='#')
						img.avatar(src='http://a0.twimg.com/profile_images/321377338/ian4_normal.jpg', alt='ian somerhalder', width='48px')
						strong.fullname
							a(href='http://twitter.com/iansomerhalder', title='ian somerhalder') ian somerhalder
						span
						span.username @iansomerhalder
				p.tweet-text
					| To get a GREAT DEAL of work done in a short span of time.Sorry if I seemed snappy-theres just a ton of things happening at once.Love you all
				.stream-item-footer
					span.number 1
			.tweet-item
				.stream-item-header
					small.time
					a.account-group(href='#')
						img.avatar(src='http://a0.twimg.com/profile_images/2409263463/5g2vkay1y34xj17ke81c_normal.jpeg', alt='Engadget', width='48px')
						strong.fullname
							a(href='http://twitter.com/engadget', title='Engadget') Engadget
						span
						span.username @engadget
				p.tweet-text
					| Engadget Podcast 344: Google I/O edition - 05.17.13 -
					a(href='http://t.co/Y4ix9tvG11', target='_blank') http://t.co/Y4ix9tvG11
				.stream-item-footer
					span.number 1
			.tweet-item
				.stream-item-header
					small.time
					a.account-group(href='#')
						img.avatar(src='http://a0.twimg.com/profile_images/3442296058/ee5e1c48c74e0deb82e95d72c2994738_normal.png', alt='Huffington Post', width='48px')
						strong.fullname
							a(href='http://twitter.com/HuffingtonPost', title='Huffington Post') Huffington Post
						span
						span.username @HuffingtonPost
				p.tweet-text
					| New drug shows promise against a whole range of cancers
					a(href='http://t.co/CO3Afkm85M', target='_blank') http://t.co/CO3Afkm85M
				.stream-item-footer
					span.number 1
			.tweet-item
				.stream-item-header
					small.time
					a.account-group(href='#')
						img.avatar(src='http://a0.twimg.com/profile_images/321377338/ian4_normal.jpg', alt='ian somerhalder', width='48px')
						strong.fullname
							a(href='http://twitter.com/iansomerhalder', title='ian somerhalder') ian somerhalder
						span
						span.username @iansomerhalder
				p.tweet-text
					| NY-you're so good to me.Thank you ALL for so much love&support-again sorry for not being able to take pics&sign.I'm under a Ton of pressure
				.stream-item-footer
					span.number 1
			.tweet-item
				.stream-item-header
					small.time
					a.account-group(href='#')
						img.avatar(src='http://a0.twimg.com/profile_images/2044921128/finals_normal.png', alt='The New York Times', width='48px')
						strong.fullname
							a(href='http://twitter.com/nytimes', title='The New York Times') The New York Times
						span
						span.username @nytimes
				p.tweet-text
					| Updated: The Financial Times web site was hacked and the NYT faced a denial of service attack this week
					a(href='http://t.co/ppdT4NbGJE', target='_blank') http://t.co/ppdT4NbGJE
				.stream-item-footer
					span.number 1
			.tweet-item
				.stream-item-header
					small.time
					a.account-group(href='#')
						img.avatar(src='http://a0.twimg.com/profile_images/3448190395/13ba8a763f6e612918d3248ac0a13fa4_normal.png', alt='Smashing Magazine', width='48px')
						strong.fullname
							a(href='http://twitter.com/smashingmag', title='Smashing Magazine') Smashing Magazine
						span
						span.username @smashingmag
				p.tweet-text
					| Thank you so much for the fantastic conference,
					a.ht(href='http://search.twitter.com/search?q=%23mobilism.', target='_blank') #mobilism.
					| Fantastic talks, excellent conversations. Sincerely hope for the next edition!
				.stream-item-footer
					span.number 1
			.tweet-item
				.stream-item-header
					small.time
					a.account-group(href='#')
						img.avatar(src='http://a0.twimg.com/profile_images/882738902/iPhoneAppStorm_Icon_normal.png', alt='iPhone.AppStorm', width='48px')
						strong.fullname
							a(href='http://twitter.com/iphoneappstorm', title='iPhone.AppStorm') iPhone.AppStorm
						span
						span.username @iphoneappstorm
				p.tweet-text
					| Arro: Zero in on the Best Buy for You
					a(href='http://t.co/FMfoLghD9D', target='_blank') http://t.co/FMfoLghD9D
				.stream-item-footer
					span.number 1
			.tweet-item
				.stream-item-header
					small.time
					a.account-group(href='#')
						img.avatar(src='http://a0.twimg.com/profile_images/1797716029/fc-logo-300x300_normal.gif', alt='Fast Company', width='48px')
						strong.fullname
							a(href='http://twitter.com/FastCompany', title='Fast Company') Fast Company
						span
						span.username @FastCompany
				p.tweet-text
					| Infographic: A Beautiful Cheat Sheet For Two Dozen Espresso-Based Drinks
					a(href='http://t.co/pVf4SHRVFR', target='_blank') http://t.co/pVf4SHRVFR
				.stream-item-footer
					span.number 1
			.tweet-item
				.stream-item-header
					small.time
					a.account-group(href='#')
						img.avatar(src='http://a0.twimg.com/profile_images/3376166263/498ffb4e5fa43b2a9fffd218f3ca0abe_normal.png', alt='CNN en Español', width='48px')
						strong.fullname
							a(href='http://twitter.com/CNNEE', title='CNN en Español') CNN en Español
						span
						span.username @CNNEE
				p.tweet-text
					| Un político australiano es atacado por un canguro:
					a(href='http://t.co/1iGDh7Tnum', target='_blank') http://t.co/1iGDh7Tnum
				.stream-item-footer
					span.number 1
			.tweet-item
				.stream-item-header
					small.time
					a.account-group(href='#')
						img.avatar(src='http://a0.twimg.com/profile_images/2044921128/finals_normal.png', alt='The New York Times', width='48px')
						strong.fullname
							a(href='http://twitter.com/nytimes', title='The New York Times') The New York Times
						span
						span.username @nytimes
				p.tweet-text
					| RT
					a.username(href='http://twitter.com/chaughney', target='_blank') @chaughney
					| : On the same day of layoffs at the Village Voice, its owners say they're hiring:
					a(href='http://t.co/zBa4SXlDMY', target='_blank') http://t.co/zBa4SXlDMY
				.stream-item-footer
					span.number 1
			.tweet-item
				.stream-item-header
					small.time
					a.account-group(href='#')
						img.avatar(src='http://a0.twimg.com/profile_images/3659386177/8d77145a8b96108e9dfef823c0485989_normal.jpeg', alt='RPP', width='48px')
						strong.fullname
							a(href='http://twitter.com/RPPNoticias', title='RPP') RPP
						span
						span.username @RPPNoticias
				p.tweet-text
					| Suspenden trabajos de perforación en proyecto Cañariaco Norte
					a(href='http://t.co/JIZbBiaVut', target='_blank') http://t.co/JIZbBiaVut
				.stream-item-footer
					span.number 1
			.tweet-item
				.stream-item-header
					small.time
					a.account-group(href='#')
						img.avatar(src='http://a0.twimg.com/profile_images/2028194817/apple-touch-icon_normal.png', alt='Apple & Mac News', width='48px')
						strong.fullname
							a(href='http://twitter.com/osxdaily', title='Apple & Mac News') Apple & Mac News
						span
						span.username @osxdaily
				p.tweet-text
					| How to View All Running Apps & Processes in Mac OS X
					a(href='http://t.co/MEGzzjplBY', target='_blank') http://t.co/MEGzzjplBY
				.stream-item-footer
					span.number 1
	
		footer
			br
			center
				p
					| © 2012. Tweetile by
					a(href='http://www.twitter.com/anareyna') @anareyna
		
		script(src='js/jquery-1.7.1.min.js')
		script(src='js/jquery.embedly.js')
		//- script(src='js/plugins.js')
		script(src='js/jquery.masonry.js')
		script(src='js/script.js')
