!!! 5
html(lang='en')
	head
		meta(charset='utf-8')
		title Tweetile
		meta(name='description', content='A different way to display and experience your Twitter timeline!')
		meta(name='author', content='Ana Reyna @anareyna')
		
		link(href='css/superslides.css', rel='stylesheet')
		link(href='css/custom.css', rel='stylesheet')
		
		link(href='http://fonts.googleapis.com/css?family=PT+Sans:400,700', rel='stylesheet', type='text/css')

		link(rel='shortcut icon', href='img/favicon.ico')
	body
		.navbar
			.container
				a.btn.btn-navbar
					span.icon-bar
					span.icon-bar
					span.icon-bar
				a.brand(href='../')
					img(src='img/logo-white.png')
		//- .content
		//- 	-for(var x=0; x<4;x++)
		//- 		.box(style="margin:10px;float:left;width:400px;height:200px;background:red")
		//- 		.box(style="margin:10px;float:left;width:400px;height:350px;background:green")
		//- 		.box(style="margin:10px;float:left;width:400px;height:150px;background:yellow")
				
		.container
			- for (var i=0; i<4; i++)
				.tweet
					.stream-item-header.row
						span.time 3m
						a.account-group(href='#')
							img.avatar(src='http://www.placekitten.com/100/100', alt='@AhoraYaLoSabes')
							span.triangle
							strong.fullname
								a(href='http://twitter.com/AhoraYaLoSabes', title='@AhoraYaLoSabes') @AhoraYaLoSabes
							span
							span.username @AhoraYaLoSabes
					p.tweet-text
						| This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis 
						a(href="javascript:;", target="_blank") http://www.google.com

					.embed
						.thumbcontainer(style="background: url(http://cdn1.tnwcdn.com/wp-content/blogs.dir/1/files/2013/05/2013-05-17_13h01_14.jpg) repeat-x center;")
							img.thumb(src="http://cdn1.tnwcdn.com/wp-content/blogs.dir/1/files/2013/05/2013-05-17_13h01_14.jpg")							

						.description
							span.provider Thenextweb
							|  | Google CEO Larry Page took a public swipe at Microsoft in his speech at the end of the I/O event's opening keynote.


					.stream-item-footer.row
						.tweet-actions
							a.reply(href="javascript:;", title="Reply")
								span
								| Reply
							a.retweet(href="javascript:;", title="Retweet")
								span
								| Retweet
							.submenu.hide
								a.quote(href="javascript:;", title="Quote") Quote
								a.retweet2(href="javascript:;", title="Retweet") Retweet

							a.favourite(href="javascript:;", title="Favourite")
								span
								| Favourite

				.tweet
					.stream-item-header.row
						span.time 3m
						a.account-group(href='#')
							img.avatar(src='http://www.placekitten.com/100/100', alt='@AhoraYaLoSabes')
							span.triangle
							strong.fullname
								a(href='http://twitter.com/AhoraYaLoSabes', title='@AhoraYaLoSabes') @AhoraYaLoSabes
							span
							span.username @AhoraYaLoSabes
					p.tweet-text
						| This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis 

					.stream-item-footer.row
						.tweet-actions
							a.reply(href="javascript:;", title="Reply")
								span
								| Reply
							a.retweet(href="javascript:;", title="Retweet")
								span
								| Retweet
							.submenu.hide
								a.quote(href="javascript:;", title="Quote") Quote
								a.retweet2(href="javascript:;", title="Retweet") Retweet

							a.favourite(href="javascript:;", title="Favourite")
								span
								| Favourite
							
			
	
		footer
		script(src='http://code.jquery.com/jquery-1.10.2.min.js')
		script(type="text/javascript", src="http://embed.ly/static/scripts/vendor/jquery.embedly-3.1.1.min.js")
		script(src="http://masonry.desandro.com/masonry.pkgd.min.js")
		script(src='js/script.js')

		