!!! 5
html(lang='en')
	head
		meta(charset='utf-8')
		title Tweetile
		meta(name='description', content='A different way to display and experience your Twitter timeline!')
		meta(name='author', content='Ana Reyna @anareyna')
		link(href='css/custom.css', rel='stylesheet')
		link(href='http://fonts.googleapis.com/css?family=PT+Sans:400,700', rel='stylesheet', type='text/css')
		link(rel='shortcut icon', href='img/favicon.ico')
	body
		.navbar
			.container
				a.btn.btn-navbar
					span.icon-bar
					span.icon-bar
					span.icon-bar
				a.brand(href='../')
					img(src='img/logo-white.png')
				
		.container
			- for (var i=0; i<8; i++)
				.tweet
					.stream-item-header.row
						span.time 3m
						img.avatar(src='http://www.placekitten.com/100/100', alt='@anareyna')
						span.triangle
						strong.fullname
							a(href='http://twitter.com/anareyna', title='@anareyna') Ana Reyna
						span.username @anareyna
					p.tweet-text
						| This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis 
						a(href="http://t.co/OnesvNrjyB", target="_blank") http://t.co/OnesvNrjyB
					.stream-item-footer.row
						.tweet-actions
							a.reply(href="javascript:;", title="Reply")
								span
								| Reply
							a.retweet(href="javascript:;", title="Retweet")
								span
								| Retweet
							.submenu.hide
								a.quote(href="javascript:;", title="Quote") Quote
								a.retweet2(href="javascript:;", title="Retweet") Retweet
							a.favourite(href="javascript:;", title="Favourite")
								span
								| Favourite
				.tweet
					.stream-item-header.row
						span.time 3m
						img.avatar(src='http://www.placekitten.com/90/90', alt='@anareyna')
						span.triangle
						strong.fullname
							a(href='http://twitter.com/anareyna', title='@anareyna') Ana Reyna
						span.username @anareyna
					p.tweet-text
						| This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis 
						a(href="http://t.co/jx4hd77p6o", target="_blank") http://t.co/jx4hd77p6o
					.stream-item-footer.row
						.tweet-actions
							a.reply(href="javascript:;", title="Reply")
								span
								| Reply
							a.retweet(href="javascript:;", title="Retweet")
								span
								| Retweet
							.submenu.hide
								a.quote(href="javascript:;", title="Quote") Quote
								a.retweet2(href="javascript:;", title="Retweet") Retweet
							a.favourite(href="javascript:;", title="Favourite")
								span
								| Favourite
				.tweet
					.stream-item-header.row
						span.time 3m
						img.avatar(src='http://www.placekitten.com/80/80', alt='@anareyna')
						span.triangle
						strong.fullname
							a(href='http://twitter.com/anareyna', title='@anareyna') Ana Reyna
						span.username @anareyna
					p.tweet-text
						| This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis 
						a(href="http://www.youtube.com/watch?v=OaoNUu4D488", target="_blank") http://www.youtube.com/watch?v=OaoNUu4D488
					.stream-item-footer.row
						.tweet-actions
							a.reply(href="javascript:;", title="Reply")
								span
								| Reply
							a.retweet(href="javascript:;", title="Retweet")
								span
								| Retweet
							.submenu.hide
								a.quote(href="javascript:;", title="Quote") Quote
								a.retweet2(href="javascript:;", title="Retweet") Retweet
							a.favourite(href="javascript:;", title="Favourite")
								span
								| Favourite
				.tweet
					.stream-item-header.row
						span.time 3m
						img.avatar(src='http://www.placekitten.com/95/95', alt='@anareyna')
						span.triangle
						strong.fullname
							a(href='http://twitter.com/anareyna', title='@anareyna') Ana Reyna
						span.username @anareyna
					p.tweet-text
						| This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis 
						a(href="http://t.co/oGXLLxnVAf", target="_blank") http://t.co/oGXLLxnVAf
					.stream-item-footer.row
						.tweet-actions
							a.reply(href="javascript:;", title="Reply")
								span
								| Reply
							a.retweet(href="javascript:;", title="Retweet")
								span
								| Retweet
							.submenu.hide
								a.quote(href="javascript:;", title="Quote") Quote
								a.retweet2(href="javascript:;", title="Retweet") Retweet
							a.favourite(href="javascript:;", title="Favourite")
								span
								| Favourite
				.tweet
					.stream-item-header.row
						span.time 3m
						img.avatar(src='http://www.placekitten.com/93/93', alt='@anareyna')
						span.triangle
						strong.fullname
							a(href='http://twitter.com/anareyna', title='@anareyna') Ana Reyna
						span.username @anareyna
					p.tweet-text
						| This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis 
						a(href="http://t.co/NcmXjymHhQ", target="_blank") http://t.co/NcmXjymHhQ
					.stream-item-footer.row
						.tweet-actions
							a.reply(href="javascript:;", title="Reply")
								span
								| Reply
							a.retweet(href="javascript:;", title="Retweet")
								span
								| Retweet
							.submenu.hide
								a.quote(href="javascript:;", title="Quote") Quote
								a.retweet2(href="javascript:;", title="Retweet") Retweet
							a.favourite(href="javascript:;", title="Favourite")
								span
								| Favourite

			
	
		footer
		script(src='http://code.jquery.com/jquery-1.10.2.min.js')
		script(src='js/jquery.embedly.js')
		script(src='js/jquery.masonry.js')
		script(src='js/script.js')

		